altair 
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-lru 
attrs 
Babel 
beautifulsoup4 
bleach 
blinker 
Bottleneck 
Brotli 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
comm 
contourpy 
cycler 
debugpy 
decorator 
defusedxml 
executing 
fastjsonschema 
Flask 
fonttools 
gitdb 
GitPython 
idna 
imbalanced-learn 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
itsdangerous 
jedi 
Jinja2 
joblib 
json5 
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kiwisolver 
markdown-it-py 
MarkupSafe 
matplotlib 
matplotlib-inline 
mdurl 
mistune 
mkl-fft 
mkl-random 
mkl-service==2.4.0
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy 
overrides 
packaging 
pandas 
pandocfilters 
parso 
pexpect 
pillow 
platformdirs 
ply 
prometheus-client 
prompt-toolkit 
protobuf==3.20.3
psutil 
ptyprocess 
pure-eval 
pyarrow 
pycparser 
pydeck 
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
qtconsole 
QtPy 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich 
rpds-py 
scikit-learn 
scipy 
seaborn 
Send2Trash 
setuptools==69.5.1
sip 
six 
smmap 
sniffio 
soupsieve 
stack-data 
streamlit 
tenacity 
terminado 
threadpoolctl 
tinycss2 
toml 
toolz 
tornado 
traitlets 
typing_extensions 
tzdata 
unicodedata2 
urllib3 
watchdog 
wcwidth 
webencodings 
websocket-client 
Werkzeug 
wheel==0.43.0
widgetsnbextension 
